<html>
  <body>
    <h1>Users</h1>
    <ul>
      <% for user in @users %>
        <li>
        <%= user.screen_name %>: 
        <a href="/twitter/<%= user.token %>">rolling display</a>
        <a href="/graph/<%= user.token %>">graph</a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
